<div class="container">
  <h1>My tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <input type="checkbox" name="<%= task.title %>"
        <% if task.completed %>
           checked>
        <% else %>
          >
        <% end %>
        <label for="<%= task.title %>"><%= link_to task.title, task_path(task) %></label>
      </li>
    <% end %>
  </ul>

  <p><%= link_to "+ Add a new task", tasks_new_path %></p>


</div>
